html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.joke-btn{
    background-color: black;
}

.btn {
    color: black;
}

.btn:hover{
    color: black;
}

.front {
    margin-top: 250px;
}

.index {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid blue;
    border-radius: 12px;
    padding: 15px;
    border-collapse: initial;
    border-top: hidden;
    border-bottom: hidden;
    
}