@model JokeApp.Models.Joke

<h4>Search Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchResults">

            <div class="form-group">
                <label class="control-label">Search for a Joke</label>

                <input name="searchTerm" class="form-control" />
            </div>
            <div class="form-group" style="margin-top: 8px;">
                <input type="submit" value="search" class="btn btn-primary" 
                    style="padding-left: 29px; padding-right: 29px"/>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

