@model JokeApp.Models.Joke
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <p>Joke application concept to test out .net features.</p>
</div>
<table class="index w-60">
    <tr>
        <td class="text-center mx-2 w-50">
            @Html.DisplayFor(model => model.JokeQuestion)
        </td>
        <td width="2"></td>
        <td class="text-center mx-2 w-50"> 
            @Html.DisplayFor(model => model.JokeAnswer)
        </td>
    </tr>
</table>
<div class="text-center m-2">
    <a asp-action="Index" class="btn btn-primary text-white" role="reset" value="reset">New Joke</a>
</div>
